---
import Container from "./Container.astro"

---

<div id="blog">
  <Container>
      <div class="mb-12 space-y-2 text-center flex flex-col gap-4 items-center">
        <h2 class="font-bold text-4xl pb-8">Contactenos temporalmente</h2>
        <input type="text" placeholder="Nombre" class="input input-bordered w-full max-w-xs" />
        <input type="text" placeholder="Correo" class="input input-bordered w-full max-w-xs" />
        <textarea class="textarea textarea-bordered w-full max-w-xs h-40" placeholder="Mensaje"></textarea>
        <button class="btn">Enviar</button>
      </div>
  </Container>
</div>