---
import Container from "./Container.astro"
---

<div class="relative py-16">
  <div aria-hidden="true" class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
  </div>
  <Container>
    <div class="">
       <h1 class=" text-2xl font-bold  text-gray-700 dark:text-white md:text-5xl text-center w-full h-full p-12  ">Explora un Mundo de Cuidado Animal</h1>
      <div class=" flex flex-wrap flex-row-reverse flex-row items-center lg:flex-nowrap text-left md:justify-center  ">
          <div id="divvideo " class=" m-8 " >
            <video class="rounded"  width="560" height="315" controls autoplay>
              <source src="\public\videos\#Neeko Mexican Dance.mp4" type="video/mp4" >
                Tu navegador no soporta el elemento de video.
            </video>
          </div>
          <p class=" w-max[400px] w-[400px]  flex  text-center text-xl text-gray-600 dark:text-gray-300 lg:tex-left ">
            ¡Bienvenido a LocalPaws, tu brújula para descubrir el mejor cuidado para tus fieles amigos! Con nuestro mapa interactivo,donde 
            podrás encontrar rápidamente refugios, veterinarias y tiendas especializadas en el bienestar animal mas cercanas a tu ubicación. 
            Explora un mundo de opciones para tus mascotas y empieza una aventura de cuidado y amor.
          </p>
      </div>
        <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
          <a
              href="#"
              class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
            >
              <span class="relative justify-center text-base font-semibold text-white dark:text-dark"
                >Ir a la app</span
              >
            </a>
            <a
              href="#"
              class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
            >
              <span
                class="relative text-base font-semibold text-primary dark:text-white justify-center"
                >Sign up</span
              >
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>