---
import "./contact_us.css"
---

<div id="blog" class=" mx-auto">
  <div class="container mx-auto">
    <div class="content">
      <div  class="tittle">
        <h1 class="font-bold text-4xl text-black dark:text-white" id="titulo">CONTACTANOS</h1>
      </div>
      <div class="contact-wraped ">
        <div class="contact-form" >
          <form class="font-bold">
            <p>
              <label class="">Nombres</label><br>
              <input type="text"><br><br>
            </p>
            <p>
              <label>Apellidos</label><br>
            <input type="text"><br><br>
            </p>
            <p>
              <label>Email</label><br>
              <input type="email"><br><br>
            </p>
            <p>
              <label>Telefono</label><br>
              <input type="tel"><br><br>
            </p>
            <p class="block">
              <label>Mensaje</label><br>
              <textarea name="Mensaje" rows="3"></textarea><br><br>
            </p>
            <p class="block">
              <button type="submit">Enviar</button>
            </p>
          </form>
        </div>
        <div class="contact-info md:rounded-r-lg">
          <ul>
            <li><i>Av 7 cll 3 #3048 Barrio comuneros, Cúcuta</i></li>
            <li><i>316-025-5551</i></li>
            <li><i>localpets@proton.me</i></li>
          </ul>
          <p>!Gracias por visitar nuestro sitio web¡ Si tienes alguna pregunta, comentario o simplemente quieres ponerte en contacto con nosotros, completa el formulario y nos pondremos en contacto contigo lo antes posible.</p>
          <p>localpets-landing-page.vercel.app</p>
        </div>
      </div>
    </div>
  </div>
</div>