---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="reviews">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Pawsplorer tiene algunos fans.
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Ana María Hernández</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Desarrollador Movil</p>
          </div>
        </div>
        <p class="mt-8">Esta aplicación es increíblemente útil y divertida. Puedo compartir fotos adorables de mi mascota y recibir comentarios positivos de otros amantes de los animales. ¡Recomendada al 100%!</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-1.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Luisa Fernanda Ortiz</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Marketing</p>
          </div>
        </div>
        <p class="mt-8">Es genial saber que la aplicación está comprometida con la causa de adopcion de mascotas y ayuda a promover el bienestar de los animales poniendo localización de veterinarias y centros de adopción.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Juan Pablo Gómez</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Reportero</p>
          </div>
        </div>
        <p class="mt-8">Me encanta que la aplicación ofrezca una gran cantidad de información sobre cada servicio, como horarios, direcciones, números de teléfono y reseñas de otros usuarios.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-3.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Juliana Rodríguez García</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Vendedora Internacional</p>
          </div>
        </div>
        <p class="mt-8">La aplicación es muy útil para viajeros con mascotas, ya que permite encontrar rápidamente servicios cercanos mientras se está en movimiento.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-4.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Santiago Martínez Díaz</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Manager</p>
          </div>
        </div>
        <p class="mt-8">La aplicación es muy fácil de descargar e instalar, y se actualiza regularmente para agregar nuevas funciones y servicios. Además, la función de encontrar veterinarias, refugios y tiendas de accesorios me ha facilitado mucho la vida.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/ricardo.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Andrés Felipe Pérez Torres</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Animal Lover</p>
          </div>
        </div>
        <p class="mt-8">Esta app es genial para los amantes de las mascotas. Me encanta poder compartir fotos de mi mascota y descubrir otras mascotas en adopción. También es útil poder encontrar veterinarias y tiendas de accesorios cercanas.</p>
      </div>

    </div>
  </Container>
</div>